{% extends 'home.html' %}

{% block title %}
<title>Textbridge | Login Home</title>
{% endblock %}

{% block content %}

    <h3>Logged in as: {{ user.first_name }} {{ user.last_name }}</h3>
    <h4><a href="/delete_account">Delete Account</a></h4>
    <h4>Your Information:</h4>
    <ul>
        <li>Email: {{ user.email }}</li>
        <li>UID: {{ fb_user.uid }}</li>
        {% if fb_user.extra_data.phone_number is None %}
            <li>Phone: Not Provided | <a href="/register">Add your Phone Number</a></li>
        {% else %}
            <li>Phone: {{ fb_user.extra_data.phone_number }} | <a href="/register">Edit your Phone Number</a></li>
        {% endif %}
        <li>Friend List:
            <ul>
                {% for entry in fb_user.extra_data.all_friends.data %}
                    <li>{{ entry.name }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>

{% endblock %}
