/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Bitter', serif;
 */

.logo{
    padding-top: 15%;
    font-family: 'Bitter', serif;
}

.logo_bridge{
    font-family: 'Roboto Condensed', sans-serif;
}

.background{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

.white_content_box{
    background-color: white;
    text-align: left;
    width: 85%;
    border-radius: 7px;
    height: 25rem;
    padding: 1rem 2rem;
    margin: 2% auto 0 7%;
}

.big_heading{
    text-align: center;
    margin-top: 3%;
}

.navbar.scrolled {
    background: rgba(115, 194, 251, 0.95);
    transition: background 500ms;

}
.main_icon{
    height: 30px;
    width: 28px;
}

#navbar{
    width: 99vw;
    padding: 15px;
    position: fixed;
}
